* {
    transition: .3s all ease-in-out;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner-section{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 8%;
}
.carousel-item{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
}
.carousel-indicators .active{
    background-image: linear-gradient(to right,#FF9C35,#FFD019);
    width: 50px;
}
.carousel-indicators li{
    background-color: #CECECE;
    height: 10px;
    width: 15px;
    border-radius: 6px;
    border: none;

}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.product-cat-title a{
    color: #FF9C35;
}

.color-bar{
    background-image: linear-gradient(to right,#FF9C35,#FFD019);
    height: 5px;
    width: 125px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
.cat{
    height: 200px;
    width: 200px;
    cursor: pointer;
}
.cat:hover{
    transform: translate(5px,5px);
}